@import "../../node_modules/gbif-ssg/src/stylus/0-core-variables"
@import "variables"
@import "../../node_modules/gbif-ssg/src/stylus/1-calculated-variables"
@import "calculated-variables"
@import "../../node_modules/gbif-ssg/src/stylus/main"
@import "main"