/*@import "../../../ssg/src/stylus/0-core-variables" //usefull for testing*/
@import "../../node_modules/gbif-ssg/src/stylus/0-core-variables"

@import "variables"

/*@import "../../../ssg/src/stylus/1-calculated-variables" //usefull for testing*/
@import "../../node_modules/gbif-ssg/src/stylus/1-calculated-variables"

@import "calculated-variables"

/*@import "../../../ssg/src/stylus/main" //usefull for testing*/
@import "../../node_modules/gbif-ssg/src/stylus/main"

@import "main"