main >section >.content >article.home>section
	background-size: 60%
	>div
		max-width laptop
	&.block-first
		>div
			padding 10em 0
			margin 0
			max-width none
			h1
				padding: 0.5em 20px
				background color-dark
				color paper-color

@media (min-width tablet)
	main >section >.content >article.home>section
		background-size: 40%

.ie8 main >section >.content >article.home>section.block-first
	h1
		background none
		color color-dark
	>div
		padding 5em 0