//Order mega menu in two columns
+isAbove($laptop) {
	.SiteNav > div > ul > li.isCategory.isMega > ul > li {
		lost-column 1 / 2
	}
}

.Site__contentArea.article article{
	background #eee

	.block-content {
		background #fff
		padding vr-block(1) vr-block(1)
		margin vr-block(1) auto
	}
	.block-first {
		background none
		h1 {
			/*margin 0*/
			padding vr-block(.5)
			text-shadow 0px 0px 3px rgba(0,0,0,0.4)
		}
		.block-content {
			background-color $articleHeader_bg
			margin 0 auto
		}
		+.block>.block-content {
			margin 0 auto
		}
	}
}

+isAbove($laptop) {
	.Site__contentArea.article article{
		.block-first {
			h1 {
				padding vr-block(1.5)
			}
		}
		.block-content {
			padding vr-block(1) vr-block(2)
		}
	}
}


$home_overlay_opacity = 0.7
$home_overlay_color = alpha($articleHeader_bg, $home_overlay_opacity)//rgba(140,198,208, $home_overlay_opacity)
.home.article {
	.block-first {
		.block-content {
			background-image linear-gradient(to right, $home_overlay_color,  $home_overlay_color), url('/images/africarising.jpg')
			background-size cover
			background-position center
		}
	}
}

.SiteHeader__mobileOptions {
	.home {
		&:before {
			padding-right 13px
		}
	}
}

.article.faq {
	h3 {
		font-weight 800
		font-size 1rem
	}
}

.Search__results {
	h2 {
		font-size 1.2em
	}
}