.Site__contentArea.article .rssFeed {
	margin 0
	margin-bottom vr-block(1)
	article {
		background-color $rssFeedBg
		padding vr-block(1)
		margin vr-block(0.5) 0
		color $rssFeedColor
		transition background-color 300ms ease
		&:hover {
			background-color $rssFeedBorderColorHover
		}
		h3 {
			font-size 1.2em
			padding-bottom 1em
			color $rssFeedColorHeadline
			font-weight 500
		}
		p {
			color $rssFeedColor
			font-size 0.95em
		}
		span {
			display block
			text-align right
			font-size 0.8em
			padding-top 1em
			color $rssFeedColorDate
		}
	}
}

+isAbove($laptop) {
	.Site__contentArea.article .rssFeed {
		display flex
		flex-wrap wrap
		justify-content space-around
		margin -(vr-block(0.25))
		margin-bottom vr-block(1)
		article {
			flex 1 1 300px
			margin vr-block(0.25)
		}
	}
}

.home.article {
	.block:nth-of-type(3) {
		background none
		.block-content {
			margin 0
		}
	}
}