//signup
$signup_bg = #444
$signup_color = #ddd
$signup_border_color = none

//RSS
$rssFeedBg = #4E7371
$rssFeedColor = #E4E4E4
$rssFeedColorHeadline = #F1F1F1
$rssFeedColorDate = #2F4644
$rssFeedBorderColor = #98B3B1
$rssFeedBorderColorHover = #A5D4BE
