//signup
$signup_bg = #444
$signup_color = #ddd
$signup_border_color = none
$signupInput_color = #444

//RSS
$rssFeedBg = #B9D2B9//#4E7371
$rssFeedColor = #555//#E4E4E4
$rssFeedColorHeadline = #444//#F1F1F1
$rssFeedColorDate = #666//#2F4644
$rssFeedBorderColor = #98B3B1
$rssFeedBorderColorHover = lighten(#98B3B1, 20%)//#A5D4BE
