//custom colors
$DarkGreen = #7BBD6F//#007F89
$SpringGreen = #A6DE9C //#8CC6D0 //#7FCFDA //#71C9D6
//$SpringGreen = #DBEA2B
$SpicyMix = #87554C
$Casablanca = #F7C169 //#EFB279 //#FABB48

$bid_secondaryColor = $SpringGreen
$bid_secondaryColor_dark = $DarkGreen

/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
$tablet = 768px
$laptop = 900px//1024px
$desktop = 1200px

/* BRAND COLORS */
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);  // Terracotta
$Mist = rgb(232, 232, 232) 		// mist

/* SITE SPECIFIC COLORS */

//complementary colors

$c_main = $Mist//#67A05D
$c_sec = #F5CC27
$_accent = $purple
$content_bg = #fff//$Mist
$ink = #333

/*Navigation-bar variables*/
$navbar_height = vr-block(3)
$navbar_borderWidth = vr-block(0.25)
$navbar_bg = $Casablanca
$navbar_BorderColor = $SpicyMix
$navbar_textColor = #444
$navbar_textColor_hover = darken($Terracotta, 20%)
$navbar_dropdown_bg = white
$navbar_dropdown_megaColor = $Terracotta
$navbar_dropdown_color = #333
$navbar_horizontal_color = $c_main
$navbar_dropdown_triangle_color = $navbar_BorderColor

$logo_color = $Terracotta

$LinkBorderColor = $OrangePeel

/* DRAWERS */
$drawer-width = 300px
$nav_drawer_bg = #444
$nav_drawer_color = #ddd
$nav_drawer_image = "/images/africarising.jpg"

$toc_drawer_bg = $content_bg
$toc_drawer_color = $ink
$toc_h2_underline_color = $OrangePeel
$toc_toggle_bg = #333
$toc_toggle_color = $Mist
$toc_drawer_button_height = vr-block(2)

//Footer
/*$footer_bg = $navbar_bg*/
/*$footer_color = $navbar_textColor*/
/*$footer_border_width = $navbar_borderWidth*/
/*$footer_border_color = $navbar_BorderColor*/

//TranslationNotification
$translationNotification_bg = #444
$translationNotification_color = #ddd

//articles
$article_max_width = 900px

$borderWidth = vr-block(0.25);


//Typography
$body-font          = $helvetica
$body-font-weight   = normal
$body-color         = #555
$header-font        = $helvetica
$header-font-weight = 400
$header-color       = #111
$html-font-size		= 15px

/* LOGO */
$site-logo-content := $icon-string-bid

/* COLORS */
$primary-color = rgb(123, 194, 212)//lighten(Plum, 30%) //rgb(123, 194, 212)

$color-dark = #333
$color-bright = #FDFDFD
$LightnessBreak = 70%
$paper-color = $color-bright
$background-color = $paper-color//#F1F1F1
$ink-color = $color-dark
$link-bg-color = $bid_secondaryColor_dark
$button-bg-color = $Black
$button-color = $bid_secondaryColor_dark
$popupBorderColor = $bid_secondaryColor_dark

$articleHeader_textColor = white
$articleHeader_weight = bold
$articleHeader_bg = #A6DE9C
$articleHeader_border = none

//search
$search_result_bg = #eee
$search_result__header_bg = #eee
$search_result_color = #222
$search_result_border_color = $bid_secondaryColor

//signup
$signup_bg = #444
$signup_color = #ddd
$signup_border_color = none